.marketing-contact {
    text-align: center;
    margin: 8px 0 0;
    font-size: 13px;
    line-height: 1.5;
}

.marketing-contact a {
    display: block;
    font-weight: 600;
    text-decoration: none;
}
